<!-- If we use ngIf at the parent level html element if course is not defined
then the contents of the card will not display. This makes uncesseary using
the questionmark in course?.description for example when trying to avoid
problems when the course is undefined. -->
<div class="course-card" *ngIf="course">

    <div class="course-title">
        <!-- this reads the title from the course-card component tag
        and the course card component-->
        <!-- {{ title }} -->
        <!-- this reads the course object and its properties, as defined 
        in the course-card component-->
        <!-- We can add a question mark which will see if course is null
        if it is, it doesn´t diplay and we avoid an undefined error. -->
        {{ index }} {{ course?.description }}
        <!-- {{ cardIndex + ' ' + course.description }} -->
    </div>
    <!-- <img width="300" alt="Angular Logo"
         src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-core-in-depth-small.png"> -->
    
 
    <!-- With ngIf if the object we pass to ngIf is undefined it will evaluate
    to false and the html element will not display. If it is defined, it will
    return true and the html element will display. -->
    <!-- <img width="300" alt="Angular Logo" 
    *ngIf="course.iconUrl" [src]="course.iconUrl"> -->

    <!-- Alternatively we can pass a function that can evaluate to true if certain
    conditions are met, in this case if the course is defined and if there
    is an image defined. -->

    <img width="300" alt="Angular Logo" 
    *ngIf="isImageVisible(); else noImage" 
    [src]="course.iconUrl">

    <!-- The if conditional directive works to display html elements or
    parts of the code based on some condition. In the example below
    the if condition is related to the data we are handling. -->
    <!-- @if (course.id == 1) {
        <h2>Course with ID 1 detected</h2>
    }
    @else if(course.iconUrl) {
    <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    }
    @else {
        <h2>No image available</h2>
    } -->

    <ng-template #noImage>
        <p>No image is available</p>
    </ng-template>


    <div class="course-description">
        <!-- A detailed walk-through of the most important part of Angular - the Core and Common modules. -->
        <!-- We can add a question mark which will see if course is null
        if it is, it doesn´t diplay and we avoid an undefined error.-->
        {{ course?.longDescription }} 
    </div>

    <!-- we can also handle browser events and call functions on them-->
    <button (click)="onCourseViewed()"> View Course </button>

</div>

<!-- EVENTS 
On the button html element, there´s a native browser event click associated with a method OnCourseViewed()
When the button is clicked, the event is fired as specified in the model.
The onCourseViewed() method fires an emitter which bubbles up a course object.
(defined in the Output section of the model)
The object is intercepted at the parent level on the onCourseSelected method
of the course-card tag.
That method receives the course object and prints it as per the onCourseSelected
method instructions.
-->