<div class="course-card" *ngIf="course" #container>
    <div class="course-title">
        {{ cardIndex || ' ' + ' ' + course.description}}
    </div>

    <!-- Content Projection-->
    <!-- This tag loads the content projected from the child tag of 
    the course card element in the app.component view. -->
    <!-- <ng-content></ng-content> -->

    <!-- We can also restrain what gets projected
    Project by tag -->
    <!-- <ng-content select="img"></ng-content> -->
    <!-- Project by class -->
    <ng-content select=".course-image"></ng-content>
    <ng-content select=".course-description"></ng-content>
    <!-- Project by component-->
    <!-- <ng-content select="course-image"></ng-content> -->
 
    <!-- ngTemplate -->
    <!-- Here we say if there is no iconUrl, then display the 
    ngtemplate block titled #blankImage -->
    <!-- <ng-content select=".course-image"
        *ngIf="course.iconUrl; else blankImage"></ng-content>

    <ng-template #blankImage>

        <p class="warn"> No image is available yet.</p>
        <img src="/assets/empty-image.png">

    </ng-template> -->

    <div class="course-category" [ngSwitch]="course.category">
        <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
        <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
        <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
    </div>

    <button (click)="onCourseViewed()">View Course</button>
</div>






<!-- If we don't have a div element to apply the ngif or
other such directive to a bunch of nested tags, We
can use the ng-container element to prevent us from gratuitiously
adding a div. We can apply to an ngSwitch or an ngCase also
<ng-container *ngIf="course">
</ng-container> -->

<!-- If we use ngIf at the parent level html element if course is not defined
then the contents of the card will not display. This makes uncesseary using
the questionmark in course?.description for example when trying to avoid
problems when the course is undefined. -->
<!-- ngClass will apply a css class to only certain components. -->
<!-- <div class="course-card" *ngIf="course"
[ngClass]="'beginner'"> you can add a class or several classes separated by a space
[ngClass]="['beginner', 'course-card']"> you can pass an array of classes
[ngClass]="{'beginner': true, 'course-card'= false}"> you can pass a configuration object with 
true or false depending on if you want the style to be applied or not.-->
<!-- Or we can pass a function that returns a configuration object. -->
<!-- <div class="course-card" *ngIf="course"
[ngClass]="cardClasses()"> -->
<!-- On the following example we apply as a style a function that 
returns a background image applied at the level of
the card so the whole card is backgrounded with the image. -->
<!-- <div class="course-card" *ngIf="course"
[ngClass]="cardClasses()"
[ngStyle]="styleClasses()"> -->
<!-- We can also add a style to the div with the style core directive -->
<!-- <div class="course-title" [style.text-decoration]="'underline'"> -->
<!-- OR -->
<!-- <div class="course-title" [ngStyle]="cardStyles()"> -->
<!-- this reads the title from the course-card component tag
        and the course card component-->
<!-- {{ title }} -->
<!-- this reads the course object and its properties, as defined 
        in the course-card component-->
<!-- We can add a question mark which will see if course is null
        if it is, it doesn´t diplay and we avoid an undefined error. -->
<!-- {{ index || '' }} {{ course?.description }} -->
<!-- {{ cardIndex + ' ' + course.description }} -->
<!-- </div> -->
<!-- <img width="300" alt="Angular Logo"
         src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-core-in-depth-small.png"> -->


<!-- With ngIf if the object we pass to ngIf is undefined it will evaluate
    to false and the html element will not display. If it is defined, it will
    return true and the html element will display. -->
<!-- <img width="300" alt="Angular Logo" 
    *ngIf="course.iconUrl" [src]="course.iconUrl"> -->

<!-- Alternatively we can pass a function that can evaluate to true if certain
    conditions are met, in this case if the course is defined and if there
    is an image defined. -->

<!-- <img width="300" alt="Angular Logo" 
    *ngIf="isImageVisible(); else noImage" 
    [src]="course.iconUrl"> -->

<!-- The if conditional directive works to display html elements or
    parts of the code based on some condition. In the example below
    the if condition is related to the data we are handling. -->
<!-- @if (course.id == 1) {
        <h2>Course with ID 1 detected</h2>
    }
    @else if(course.iconUrl) {
    <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    }
    @else {
        <h2>No image available</h2>
    } -->

<!-- <ng-template #noImage>
        <p>No image is available</p>
    </ng-template> -->


<!-- <div class="course-description"> -->
<!-- A detailed walk-through of the most important part of Angular - the Core and Common modules. -->
<!-- We can add a question mark which will see if course is null
        if it is, it doesn´t diplay and we avoid an undefined error.-->
<!-- {{ course?.longDescription }} 
    </div> -->

<!-- Conditionally display items on a page with if or switch to
    switch within alternatives -->
<!-- <div class="course-category">
        @switch(course.category){
            @case ('BEGINNER'){
                <div class="category">BEGINNER</div>
            }
            @case ('INTERMEDIATE'){
                <div class="category">INTERMEDIATE</div>
            }
            @case ('ADVANCED'){
                <div class="category">ADVANCED</div>
            }
            @default {
                <div class="category">UNKNOWN</div>
            }            
        }
    </div> -->
<!-- We can use ngSwitch as an alternative to switch -->
<!-- <div class="course-category" [ngSwitch]="course.category">
        <div class="category" *ngSwitchCase="'BEGINNER'">BEGINNER</div>
        <div class="category" *ngSwitchCase="'INTERMEDIATE'">INTERMEDIATE</div>
        <div class="category" *ngSwitchCase="'ADVANCED'">ADVANCED</div>
        <div class="category" *ngSwitchDefault="'UNKNOWN'">UNKNOWN</div>
    </div> -->

<!-- we can also handle browser events and call functions on them-->
<!-- <button (click)="onCourseViewed()"> View Course </button>

</div> -->

<!-- EVENTS 
On the button html element, there´s a native browser event click associated with a method OnCourseViewed()
When the button is clicked, the event is fired as specified in the model.
The onCourseViewed() method fires an emitter which bubbles up a course object.
(defined in the Output section of the model)
The object is intercepted at the parent level on the onCourseSelected method
of the course-card tag.
That method receives the course object and prints it as per the onCourseSelected
method instructions.
-->