<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- <h1> {{ coreCourse.description }} </h1> -->

<div class="courses">

    <!-- the brackets indicate that the string should be interpreted
         as javascript -->
    <!-- each card component has its own data scope. So title of the
    first card is different from title of the second, as defined in the
    tag-->
    <!--
    <course-card [title]="coreCourse.description"></course-card>
    <course-card [title]="rxjsCourse.description"></course-card>
    <course-card [title]="ngrxCourse.description"></course-card>
    -->
    <course-card [course]="coreCourse"></course-card>
    <course-card [course]="rxjsCourse"></course-card>
    <course-card [course]="ngrxCourse"></course-card>

    <!-- we can also call a function at the application level component-->
    <!-- this click event intercepts the click done at the component level and
    the click bubbles up, such that after the firing of the event defined at the
    component level, then onCardClicked will be fired-->
    <course-card (click)="onCardClicked()" [course]="coreCourse"></course-card>
    <!-- courseSelected is a custom event, not a browser event like click-->
    <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>
    <course-card (click)="onCardClicked()" [course]="ngrxCourse"></course-card>

</div>


