<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- CONTENT PROJECTION -->
<!-- Here with this ngIf notation we only display course[0] content -->
<!-- So in the app template as a child of the course-card compoennt we pass on 
configuration, in this case an image tag. And from within the course-card 
template we project the image element here into the component. -->

<div class="courses" *ngIf="courses[0] as course">

<!-- INSTANTIATING TEMPLATES

Here we define an abstract template tag
We define a variable courseName with the let- keyword and we assign to it the value of the content 
of the template instance below.

<ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} has no image yet.</p>
    <img src="/assets/empty-image.png">
</ng-template>

Here we create instances of those tags
Each instance defines a value for variable description
which is then passed to the abstract ng-template tag.

    <div *ngTemplateOutlet="blankImage; context: {description: course.description}"></div>
    <div *ngTemplateOutlet="blankImage; context: {description: courses[1].description}"></div>


Here we create an ng-template tag to be instantiated elsewhere.
We will pass the template to the course-card component as an input parameter-->

<ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} has no image yet.</p>
    <img src="/assets/empty-image.png">
</ng-template>


<!-- Here we are creating an input noImageTpl and we pass to it a reference (blankImage)
which is a reference to the ng-template tag above. In the course-card model we will 
pass the noImage as an input variable-->
    <course-card (courseSelected)="onCourseSelected($event)" [course]="course" [noImageTpl]="blankImage">

        <div class="course-image" #courseImage>

            <img width="300" alt="Angular Logo" [src]="course.iconUrl">

        </div>

        <!-- <course-image [src]="course.iconUrl"></course-image> -->

        <!-- 
        <course-image [src]="courses[0].iconUrl"></course-image>
        <course-image [src]="courses[1].iconUrl"></course-image>
        <course-image [src]="courses[2].iconUrl"></course-image> -->

        <div class="course-description">
            {{ course.longDescription }}
        </div>

    </course-card>

</div>


<!-- TEMPLATE QUERYING WITH VIEW CHILD AND VIEW CHILDREN:
We perform a template query to obtain a reference to an element template and access it at the level of our component class.

The onCoursesEdited event handler method will be called when we click on the button.

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses" #container>
    
    <course-card #cardRef1
    (courseSelected)="onCourseSelected2($event)"
    [course]="courses[0]">
    </course-card>
    
    <course-card #cardRef2
    (courseSelected)="onCourseSelected2($event)"
    [course]="courses[1]">
    </course-card>

    This iteration is used to demonstratre the 
    @ViewChildren decorator -->
<!-- <course-card *ngFor="let course of courses"
    (courseSelected)="onCourseSelected($event)"
    [course]="course">
    </course-card>

</div> -->


<!-- <h1> {{ coreCourse.description }} </h1> -->


<!-- PIPES
Pipes take the left side as an input and apply to it the right hand side which is a function.
They serve the purpose of formatting for example. -->

<!-- <div class="demo">
    <div>Start Date: {{startDate | date: 'MMM/dd/yyyy' }} </div>
    <div>Title: {{title | uppercase }} </div>
    <div>Title: {{title | lowercase }} </div>
    <div>Title: {{title | titlecase }} </div>
    <div>Price: {{price | number: '3.3-5'}} </div>
    <div>Price: {{price | currency: 'EUR'}} </div>
    <div>Rate: {{rate | percent }} </div> -->

<!-- The json pipe transforms the output to json which is useful for debugging purposes -->
<!-- <div>Json: {{courses | json }}</div> -->

<!-- They keyvalue pipe serves to print the keyvalue pairs especially when looping though the properties of an object -->
<!-- <div *ngFor="let pair of course | keyvalue ">
        {{ pair.key + ': ' + pair.value }}
    </div> -->


<!-- DEFER -->
<!--Defer allows you to defer loading relevant js bundles in the default case: it will start loading the js when the page
has finished loading of all the previous js, that is when the browser becomes idle.
In the default case, the js is loaded and the js is displayed both when the browser becomes idle. -->

<!-- @defer { -->
<!-- this defer, defers on idle so you can rewrite it alternatively as
        1) @defer (on idle; prefetch on idle)
        or alternatively as
        2) @defer (on immediate; prefetch on immediate)
        
        Remember that if you use "on" only and you don´t define "prefetch", angular understands that you will be using
        the trigger that you defined on on, also on prefetch.
        Prefetch refers to fetching or loading the javascript code.
        While on refers to actually displaying the code on screen.
    -->
<!-- Now with the timer trigger we specify a time for prefetch and a time for on, for example
        3) @defer (on timer(15s); prefetch timer(10s))
        means the contents of the defer block will not be displayed until 15 seconds pass, that is 5 seconds after is the js is loaded. 
    -->
<!-- Now only when the component is visible it will load.
        4) @defer (on viewport; prefetch on idle)
        On viewport then means that once the view space where the component would load is visible, then it will load. 
    -->
<!-- If we want the content to load when an html element becomes visible then we first define an html element such as 
        <h1 #title>The visibility of this element will trigger the content</h1>
        then we define the defer block as such
        5) @defer (on viewport(title); prefetch on idle)
        So what happens is when the h1 element named title is visible the contents of the defer block will be displayed to the user. 
    -->
<!-- The interaction trigger interacts with the placeholder content.
        This means focusing and typing, or clicking or any interaction with
        the placeholder contents.
        6) @defer (on interaction; prefetch on interaction)
        We can further define elements outside the placeholder content.
        For instance: if we say
        7) @defer (on interaction(display); prefetch on interaction(prefetch))
        and we have the following code outside the placeholder
        <div class="demo-triggers">
            <input placeholder="Type to trigger prefetch" #prefetch>
            <button #display>Trigger Display</button>
        </div>
        Then when we click or type in the input box, the prefetch will occur.
        And when we click on on the button, the contents of the defer block will load. 
    -->
<!-- Now the hover trigger.
        If we do the following:
        8) @defer (on interaction(display); prefetch on hover)
        that is we use hover as a standalone argument,
        then the prefetch will occur when we hover over the
        placeholder block content. Then if i click on the html element 
        that has the name of display, then the defer block contents will load.
        
        Now for the final hover example.
        Suppose we have this code outside the placeholder block.
        <div #triggerDisplay sytle="border: 5px solid red; min-height: 200px; margin: 10px;">
            <button #display>Trigger Display</button>
        </div>" 
        If we define our defer block to be:
        9) @defer (on interaction(display); prefetch on hover(triggerDisplay)
        Then this means that when we go into the bounds of the red border div,
        hovering with our cursor, the prefetch will occur and the js bundle will be loaded
        But only when we click on the button named "display", will the contents of the 
        defer block become visible. 
    -->
<!-- Finally we can define custom triggers. How?
        Suppose you have 
        10) @defer(when display; prefetch when performPrefetch)
        
        On custom triggers we use the keyword when, and the triggers will be fired when display and performPrefetch 
        or any other such arbirarily named variable, is true.
        
        We also have the following html 
        <div>
            <button (click)="onPrefetch()">Trigger Prefetch</button>
            <button (click)="onDisplay()">Trigger Display</button>
        </div>
        
        Such that when we click the buttons the methods will be invoked.
        These methods change the display and performPrefetch variables to true. 
        These variables in turn are defined in the model ts file. 
        ...
        export class AppComponent {
            performPrefetch: boolean = false;
            display: boolean = false;
        
            onPrefetch() {
                this.performPrefetch = true;
            }
            onDisplay() {
                this.display = true;
            }
        } 
        
        So now when the buttons are clicked the variables turn to true and the triggers are triggered.
        Finally for all these examples note that if you trigger the on or when display properties befor triggering the prefetch, 
        the prefetch is immediately triggered to accomodate to the display trigger, which has priority 
    -->

<!-- <div class="courses"> -->


<!-- NG FOR AND FOR DIRECTIVE-->
<!-- This old syntax ngFor has been replaced by the for directive.
     It has similar features as the new modern for, that is, an index, first, last, even and odd, which can be applied to classes defined in the stylesheet. cardIndex i+1 is applied so that in the loop the index changes for every card.
    
     Remember we have to define cardIndex in the model (), that is, in the course-card.component.ts file. 
     Also to display we have to add courseIndex to the view, that is in course-card.html. -->
<!-- <course-card *ngFor="let course of courses; index as i;
            first as isFirst; last as isLast; even as isEven; odd as isOdd;"
            [class.is-first]="isFirst"
            [class.is-last]="isLast"
            [class.is-even]="isEven"
            [class.is-odd]="isOdd"
            (courseSelected)="onCourseSelected($event)"
                [course]="course" [cardIndex]="i+1"></course-card> -->

<!-- To migrate from ngFor to For and in general from the old sytax to the new
        syntax we can use the command in the terminal "ng generate @angular/core:control-flow"
         -->
<!-- @for works for arrays and for any other javascript iterable-->

<!-- track allows angular to not have to reload the list when a new course is added to the data-->

<!-- $index is a 0 based index that displays the index of the item currently being iterated 
        $count is a variable that counts the total number of items iterated,
        $first and $last identify the first and last elements in the array, and by the syntax below
        a class named is-first and a class named is-last, is applied to the first and last elements of the array,
        something similar is done to even and odd which correspond to the $even and $odd -->
<!-- @for (course of courses; track course.id; let index = $index; let count = $count;
                let first = $first; let last= $last; let even = $even; let odd = $odd) {
            <h1>Count: {{ count }} </h1>
            <course-card [course]="course" 
            [index]="index" 
            [class.is-first]="first"
            [class.is-last]="last"
            [class.is-even]="even"
            [class.is-odd]="odd"
            (courseSelected)="onCourseSelected($event)" />
        }
        @empty {
            <h1>No courses found</h1>
        } -->

<!-- Here we implement a tracking function on the track property,
        in the case you were to receive a list of strings, you can track the
        list of strings directly. Here we implement tracking function trackCourse
        you could also do "track $index", it´s not ideal but it will allow the app to work-->
<!-- @for (course of courses; track trackCourse; let index = $index; let count = $count;
        let first = $first; let last= $last; let even = $even; let odd = $odd) {
        <h1>Count: {{ count }} </h1>
        <course-card [course]="course" 
        [index]="index" 
        [class.is-first]="first"
        [class.is-last]="last"
        [class.is-even]="even"
        [class.is-odd]="odd"
        (courseSelected)="onCourseSelected($event)" />
        }
        @empty {
        <h1>No courses found</h1>
        } -->
<!-- in case the list is empty, we can display something else -->

<!-- the brackets indicate that the string should be interpreted
             as javascript -->
<!-- each card component has its own data scope. So title of the
        first card is different from title of the second, as defined in the
        tag -->
<!-- <course-card [title]="coreCourse.description"></course-card>
        <course-card [title]="rxjsCourse.description"></course-card>
        <course-card [title]="ngrxCourse.description"></course-card> -->
<!-- <course-card [course]="coreCourse"></course-card>
        <course-card [course]="rxjsCourse"></course-card>
        <course-card [course]="ngrxCourse"></course-card> -->

<!-- we can also call a function at the application level component -->
<!-- this click event intercepts the click done at the component level and
        the click bubbles up, such that after the firing of the event defined at the
        component level, then onCardClicked will be fired -->
<!-- <course-card (click)="onCardClicked()" [course]="coreCourse"></course-card> -->
<!-- courseSelected is a custom event, not a browser event like click -->
<!-- <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>
        <course-card (click)="onCardClicked()" [course]="ngrxCourse"></course-card> -->

<!-- Demonstration of the slice Pipe -->
<!-- Here slice will take element 0 and 1 (2 is not included) -->
<!-- <course-card *ngFor="let course of courses | slice:0:2 ; index as i;
            first as isFirst; last as isLast; even as isEven; odd as isOdd;"
            [class.is-first]="isFirst"
            [class.is-last]="isLast"
            [class.is-even]="isEven"
            [class.is-odd]="isOdd"
            (courseSelected)="onCourseSelected($event)"
                [course]="course" [cardIndex]="i+1"></course-card>
    
    
    </div>
}
@loading (minimum 3s; after 1s) {
    <h2> This is a loading indicator...</h2>
}
@error {
    <h2>An error has occurred!</h2>
} -->
<!-- Instead of the placeholder block immediately after the defer block we can use the loading indicator, which is intented to
display a loading message letting the user know the content is loading if the loading process takes more than 1 second, 
only then show the loading indicator for 3 seconds-->

<!-- the placeholder replaces the defer template content until the defer is ready to display the content in the optional 
parentheses you can specify a minimum display time for the placeholder content
Usually in the placeholder we put a simplified version of the template that is displayed in the defered block anything you put in the placeholder will not be defered 
@placeholder(minimum 3s) {
    <h2>Wait until the contents load please</h2>
}
-->

<!-- the
@error 
block contents will display after the defer on condition attempts to execute. So first the defer prefetch is executed
then the defer on is executed, and if that fails, then the error block contents load.
Here we put on this block a simple error message-->



<!-- </div> -->